@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .pal {
    height: calc(100vh - 80px);
  }

  .clicked {
    cursor: grabbing;
  }
}
